{% extends 'strikes/base.html' %}
{% block title %}Complaint Submit Koro{% endblock %}
{% block content %}
    <h1>📢 Kuddus er Biruddhe Complaint</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Category</label>
        {{ form.category }}
        <label>Bistarito Bornona</label>
        {{ form.description }}
        <label>Proof (optional)</label>
        {{ form.evidence_image }}
        <button type="submit">Complaint Jomaw</button>
    </form>
{% endblock %}